
//Grand Central Station
//Main
// The Matrix
@import "normalize";
@import "google-homepage";

/* Styling */
    
body {
    background: lightblue;
    
}

//Stage(Parent)

#stage{
    position:relative;
    overflow:hidden;
    z-index: 1; 
}

//Child
#stage svg{
    position:absolute;
    bottom: 0;
    right: 0;
}

//Child

#stage h1{
    position:absolute;
    top: 50%;
    bottom: 50%;
}


//Animations Go Here!
//First Frame

#stage h1,svg{
    opacity:0;
}

//Last Frame

#stage:hover h1,
#stage svg{
    opacity: 1;
    transition: opacity 2.5s;
}

#stage h1{
    position:absolute;
    z-index: 3; 
    color:red;
}